<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h4" Color="Color.Warning">FLL Slides</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1" GutterBottom="true">
            During judge deliberation at FLL tournaments, it simply takes "too long" to prepare the awards presentation
            with all the winning teams, volunteer awards, and coach/mentor awards selections, etc.
            This app is a solution to ease the generation of an awards presentation slide deck.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            To use the app, follow these steps:
            <ol class="indented">
                <li>Launch the application in a modern browser, such as Chrome or Edge (the browser needs to support WebAssembly--a capability to run web apps)</li>
                <li>Select an awards presentation template that matches your tournament</li>
                <li>Paste in the Teams (team number, team name, one per line) at the event, and select the team for each award field; or select 'Other' and type
                    the value in the Other textbox that appears to the right
                </li>
                <li>Click Generate Slides to apply your selections into the template and generate a PowerPoint presentation</li>
            </ol>
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            This application was coded in November 2024 by Brady P. Merkel.
            Send Brady a note if you have feedback at brady@botnefl.org.
            Brady is currently Head Referee of the Northeast Florida <i>FIRST</i> LEGO League Region; where he
            also served in other <i>FIRST</i> LEGO League capacities since 2013, including Coach, Tournament Director,
            Event Coordinator, Robot Design Judge, and Judge Advisor.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Version @GetVersion()
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Warning" OnClick="Submit" Variant="Variant.Filled">Ok</MudButton>
    </DialogActions>
</MudDialog>