<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h4" Color="Color.Warning">FLL Slides</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.body1" GutterBottom="true">
            During judge deliberation at FLL tournaments, it simply takes "too long" to prepare the awards presentation
            with all the team selections, etc. This app is a solution to ease the generation of an awards presentation slide deck.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            To use the app, follow these steps:
            <ol class="indented">
                <li>Launch the application in a modern browser, such as Chrome or Edge (the browser needs to support WebAssembly--a capability to run web apps)</li>
                <li>Start at the top and select a awards presentation profile that matches your tournament</li>
                <li>Paste in the Teams at the event, and select the team(s) for each award category</li>
                <li>Click GENERATE SLIDES to compile your information and generate the PowerPoint presentation</li>
            </ol>
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            This application was coded one weekend in November 2024 by Brady P. Merkel.
            Please send Brady a note if you have feedback at brady@botnefl.org.
            Brady is currently Head Referee of the Northeast Florida <i>FIRST</i> LEGO League Region; where he
            also served in other <i>FIRST</i> LEGO League capacities since 2013, including Coach, Tournament Director,
            Event Coordinator, Robot Design Judge, and Judge Advisor.
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Version @GetVersion()
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Warning" OnClick="Submit" Variant="Variant.Filled">Ok</MudButton>
    </DialogActions>
</MudDialog>